/* 使用 @import 可以在原样式规则中导入其他样式表，可以在外部样式、style标签中使用 */
@import url("hello.css");
@import "hello-css.css";

/* CSS 语法由两个主要的部分构成：选择器，以及一条或多条声明: */
/* 选择器通常是您需要改变样式的 HTML 元素。 */
/* 每条声明由一个属性和一个值组成。 */
/* 属性（property）是您希望设置的样式属性（style attribute）。 */
/* 每个属性有一个值。属性和值被冒号分开。 */
/* CSS声明总是以分号 ; 结束，声明总以大括号 {} 括起来: */

/* p为选择器 */
p{
    /* 声明 */
    /* 属性:值 */
    text-decoration-line:line-through;
}

/* 错误 */
/* 样式规则如果存在错误，解析器会选择忽略，并不会影响其他样式规则。 */
#app{
    /* 无效样式 */
    hello:red;

    /* 但不影响后面的 border 规则使用 */
    border: rgb(192, 13, 13) 1px solid;
}