shamefully-hoist=true

# shamefully-hoist=true 是 npm 的一个配置选项，它用于在安装依赖包时强制将所有模块都安装到顶层 node_modules 目录下，而不是按照正常的依赖树结构进行安装。
# 在正常情况下，npm 会根据每个模块的依赖关系，将依赖模块安装到各自的 node_modules 目录中，并在需要的时候通过路径进行引用。但有时候，由于一些模块间依赖关系复杂或者版本冲突，可能会导致安装失败或者运行时出现问题。